[submodule "src/Pulss/CoreBundle"]
	path = src/Pulss/CoreBundle
	url = https://chirimoya@github.com/chirimoya/PulssCoreBundle.git
[submodule "src/Pulss/BaseBundle"]
	path = src/Pulss/BaseBundle
	url = https://chirimoya@github.com/chirimoya/PulssBaseBundle.git
[submodule "vendor/bundles/FOS/RestBundle"]
	path = vendor/bundles/FOS/RestBundle
	url = https://github.com/FriendsOfSymfony/FOSRestBundle.git
