[parameters]
    database_driver="pdo_mysql"
    database_host="localhost"
    database_port=""
    database_name="pulss"
    database_user="pulss"
    database_password="pulss"
    mailer_transport="smtp"
    mailer_host="localhost"
    mailer_user=""
    mailer_password=""
    locale="en"
    secret="376e97a511170e07775525e38339c4deb54d5620"
